C:\Users\kusha\Downloads\Projects\scansplit\project1\scansplit\node_modules
C:\Users\kusha\Downloads\Projects\scansplit\project1\scansplit\backend\node_modules
C:\Users\kusha\Downloads\Projects\scansplit\project1\scansplit\frontend\node_modules

